# Git & IDE
.vscode/
.git/

# WordPress Core (לא נרצה לגבות את כל הליבה בדרך כלל)
wp-admin/
wp-includes/
wp-config.php
index.php
license.txt
readme.html
wp-*.php

# Media & Upgrades
wp-content/uploads/
wp-content/upgrade/
wp-content/backups/

# Logs
*.log